.row{
    background-color: rgb(176, 250, 255);
    margin-right: auto;
}
footer{
    color:rgb(101, 112, 112);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}