<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://twitter.com/EIRusso94" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
        <li class="list-group-item"><a href="https://github.com/Eveeru" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
        <li class="list-group-item"><a href="https://www.linkedin.com/in/evelyn-russo-70625a132/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
        <li class="list-group-item"><a href="https://www.facebook.com/Eveeru/" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
        <li class="list-group-item"><a href="https://www.instagram.com/eveeru/" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
        <!-- Button trigger modal -->
        <li class="list-group-item">
          <i class="fa-solid fa-user-tie fa-xl"type="button"data-bs-toggle="modal" data-bs-target="#exampleModal">
          </i>
        </li>
      </ul>
</div>
